node_modules
pids
npm-debug.log
# build
dist
coverage
# editors
.settings
.project
.idea
/nbproject
# Mac
.DS_Store
.Spotlight-V100
.Trashes
# KDE
.directory
# Vim
.*.sw[a-z]
*.un~
Session.vim

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids

.tmp
.sass-cache
www/bower_components

service/config.dist.json