<div class="row">
    <div class="small-12 columns">
        <h1>Termos de serviço</h1>
        <ol>
            <li>Este serviço é de livre associação, gratuito, e disponível para todos os usuários do Facebook</li>
            <li>Este serviço é isento de responsabilidades quanto às doações de sangue</li>
            <li>Seus dados não são compartilhados com terceiros sem a sua autorização</li>
            <li>Este site não se responsabiliza por informações errôneas aqui divulgadas</li>
        </ol>
        <dl>
            <dt>Integração com o Facebook</dt>
            <dd>
                <ol>
                    <li>Facilita a divulgação de campanhas de doação de sangue</li>
                    <li>Permite o envio de notificações importantes</li>
                    <li>Dispensa um cadastro de email e senha</li>
                </ol>
            </dd>
            <dt>Dados necessários para a inclusão de um centro de doação</dt>
            <dd>
                Se você sabe de um centro de doação que não está em nosso <a ng-href="/map">mapa</a>
                nos envie um email com as seguintes informações.
                <ol>
                    <li>Nome do centro de doação</li>
                    <li>Endereço web (se existir)</li>
                    <li>Logadouro</li>
                    <li>Código postal</li>
                    <li>Cidade</li>
                    <li>Estado</li>
                    <li>Telefone</li>
                    <li>Horário de funcionamento (desejável)</li>
                </ol>
            </dd>
        </dl>
        <p>
            Este serviço foi concebido e desenvolvido por
            <a href="http://americonunes.com.br/">Américo Nunes</a> e
            <a href="http://henvic.github.io/">Henrique Vicente</a>.
        </p>
    </div>
</div>
