<div class="row">
    <div class="small-12 columns">
        <h1>Suas doações</h1>
        <p next-donation></p>
        <form ng-submit="addNewItem()">
            <label for="donation-date">Data de doação</label>
            <input type="date" id="donation-date" ng-model="newItem.date" ng-disabled="!newItem.finishedState" required />
            <label for="donation-place">Local de doação</label>
            <input type="text" id="donation-place" list="donation-centers" maxlength="60"
                   ng-model="newItem.place" ng-disabled="!newItem.finishedState" required />
            <datalist id="donation-centers">
                <option value="{{ item.name }}" ng-repeat="item in centers">
            </datalist>
            <button type="submit"><i class="icon-ok" arial-label="adicionar"></i></button>
        </form>
        <table>
            <thead>
            <tr>
                <th width="100">Data</th>
                <th width="250">Local</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in list | orderBy:'-date'">
                <td>{{ item.date | date:'dd/MM/yyyy' }}</td>
                <td>{{ item.place }}</td>
                <td>
                    <a ng-href="" ng-click="deleteItem(item)">
                        <i class="icon-remove icon-border" arial-label="remover"></i>
                    </a>
                    &nbsp;
                </td>
            </tr>
            <tr ng-hide="list.length">
                <td>-</td>
                <td>nenhuma doação informada</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>