<div class="row">
    <div class="small-12 columns">
        <h1>Termos de serviço</h1>
        <ol>
            <li>Este serviço é de livre associação, gratuito, e disponível para todos os usuários do Facebook.</li>
            <li>Seus dados não são compartilhados com terceiros sem a sua autorização.</li>
        </ol>
        <dl>
            <dt>Integração com o Facebook</dt>
            <dd>
                <ol>
                    <li>Facilita a divulgação de campanhas de doação de sangue</li>
                    <li>Permite o envio de notificações importantes</li>
                    <li>Dispensa um cadastro de email e senha</li>
                </ol>
            </dd>
        </dl>
        <p>
            Este serviço foi concebido e desenvolvido por
            <a href="http://americonunes.com.br/">Américo Nunes</a> e
            <a href="http://henvic.github.io/">Henrique Vicente</a>.
        </p>
    </div>
</div>
